{%extends 'base.html'%}
{%load static%}
{%block titulo%}Edicion de proyectos{%endblock titulo%}


{%block content%}

<section class="container">

<div style="" class="row well">

   
   <h2 class="col-sm-6">Edicion de proyecto <span>#{{project.id}}</span><span>
    {%if project.cerrado%}
    Publicado
    {%else%}
    No publicado
    {%endif%}
   </span></h2>
    
   <h3 style="text-align:right" class="col-sm-6">Imprimelo: <i class="fa fa-print" aria-hidden="true"></i>
    </h3>

    {%if project.cerrado%}
    <button id="notpublish" class="btn -btn-lg btn-danger" type="submit">DesPublicar</button>
    {%else%}
    <button id="publish" class="btn -btn-lg btn-success" type="submit">Publicar</button>
    {%endif%}


    <button id="guardar" class="btn -btn-lg btn-info" type="submit">Guardar</button>
    {%if perms.Project.can_delete%}
    <a href="{%url 'captura:delete' project.id%}" id="borrar" class="btn -btn-lg btn-danger" type="submit">Eliminar</a>
    {%endif%}




<!--   	<div id="generarUID" class="btn btn-success">
  		Generar UID
  	</div> -->
  		




</div>

<article class="container">

	<div class="row">
		<form id="newProject" action="." method="post" enctype="multipart/form-data">
		{%csrf_token%}
    <!-- {{form2.as_p}} -->
		{{form.as_p}}
    
		</form>

	</div>


</article>







</section>

{%endblock content%}
{%block bliss%}
<script>
  $('input').addClass('form-control');
  $('textarea').addClass('form-control');
  $('#guardar').on('click',function(){
    $('form').submit();
  });

  $('#publish').on('click',function(){
  $('form').append('<input type="hidden" name="cerrado" value="True"/>');
  $('form').submit();
  });

  $('#notpublish').on('click',function(){
  $('form').append('<input type="hidden" name="abierto" value="False"/>');
  $('form').submit();
  });

</script>


{%endblock bliss%}



