{%extends 'base.html'%}
{%load static%}
{%block titulo%}Captura de proyectos{%endblock titulo%}


{%block content%}

<section class="container">

<div style="" class="row well">

   
   <h2 class="col-sm-12">Alta de proyecto</h2>
   <br>

{%if not guardado%}
  	<div id="save" class="btn btn-warning">
  		Guardar Proyecto
  	</div>
    <div id="publish" class="btn btn-success">
      Publicar Proyecto
    </div>
{%else%}
<a class="btn btn-lg btn-info" href="{%url 'captura:alta'%}">
  Capturar Nuevo proyecto
</a>
{%endif%}
  		




</div>
{%if guardado%}
<h1>Haz guardado el proyecto con éxito: id#{{np_id}} </h1>
<h3>Imprimelo: <i class="fa fa-print" aria-hidden="true"></i>
</h3>
{%else%}

<article class="container">
<form name="newProyect" action="." method="post" enctype="multipart/form-data">
{%csrf_token%}
<div class="row">

  <div class="col-sm-12 well">

<p>
    <label>
      <h3><i class="fa fa-users" aria-hidden="true"></i>Foro</h3> 
      ¿Formas parte de algún foro presencial?
      <select name="foro" class="form-control">
        <option value="No">No</option>
        <option value="Huejutla">Huejutla</option>
        <option value="Pachuca">Pachuca</option>
        <option value="Tulancingo">Tulancingo</option>
        <option value="Ixmiquilpan">Ixmiquilpan</option>
        <option value="Tula">Tula</option>
      </select>  
    </label>
</p>
<p>
    <label>
      <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        Titulo</h3>
      ¿Cual es el titulo del proyecto?
      <input name="titulo" class="input-lg form-control">
    </label>
</p>
<p>
    <label>
      <h3>
        <i class="fa fa-arrows" aria-hidden="true"></i>
        Eje</h3>
      ¿a que eje pertenece?
      <select id="eje" name="eje" class="form-control" >
        <option value="Gobierno Honesto, Cercano y Moderno" >Gobierno Honesto, Cercano y Moderno</option>
        <option value="Hidalgo Próspero y Dinámico">Hidalgo Próspero y Dinámico</option>
        <option value="Hidalgo Humano e Igualitario">Hidalgo Humano e Igualitario</option>
        <option value="Un Hidalgo Seguro con Justicia y en Paz">Un Hidalgo Seguro con Justicia y Paz</option>
        <option value="Un Hidalgo Con Desarrollo Sustentable">Un Hidalgo Con Desarrollo Sustentable</option>

      </select>
      <p id="nuevoeje">
      <input placeholder="¿Qué nombre tiene de tu eje?" class="input-lg"  type="text" name="eje2">
      <br>
      <textarea class="input-lg" name="justificacion_eje" placeholder="¿en qué consiste tu indicador?"></textarea>
      </p>
    </label>
</p>

<p>
    <label>
      Nuevo eje
            <input id="neje" type="checkbox" name="my-checkbox">
    </label>
</p>
<p>
    <label>
      <h3>Objetivo General</h3>
      ¿Cual es el objetivo del proyecto?
      <textarea rows="6" cols="30" name="objetivo" class="form-control"></textarea>
    </label>
</p>
<p>
    <label>
      <h3>
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        Problematica</h3>
      ¿Qué problemática resuelve?
      <textarea name="problematica" class="form-control" rows="6" cols="30"></textarea>
    </label>
</p>
<p>
    <label>
      <h3>
        <i class="fa fa-tasks" aria-hidden="true"></i>
        Planteamiento</h3>
      ¿En qué consiste el proyecto?
      <textarea name="planteamiento" class="form-control" rows="6" cols="30"></textarea>
    </label>
</p>
<p>
    <label>
      <h3>
        <i class="fa fa-crosshairs" aria-hidden="true"></i>
        Alcance</h3>
      ¿A qué nivel geográfico impacta el proyecto?
      <select name="alcance" class="form-control">
        <option value="otro">Otro</option>
        <option value="otro">Estatal</option>
        <option value="otro">Regional</option>
        <option value="otro">Metropolitano</option>
      </select>
    </label>
</p>
<p>
    <label>
      <h3>
        <i class="fa fa-check-square" aria-hidden="true"></i>
        Indicador</h3>
      ¿Con qué indicador se podría medir el resultado de tu propuesta?
      <select id="indicador" name="indicador" class="form-control required" >
         <option value="">Selecciona una opción</option>
         <option  value='Tasa de Prevalencia de Corrupción (INEGI)'>Tasa de Prevalencia de Corrupción (INEGI)</option>
         <option  value='Proporción de la población que se sintió satisfecha o muy satisfecha en la realización de trámites y solicitudes de servicios con alguna dependencia estatal (INEGI)'>Proporción de la población que se sintió satisfecha o muy satisfecha en la realización de trámites y solicitudes de servicios con alguna dependencia estatal (INEGI)</option>
         <option  value='Porcentaje de trámites y servicios públicos del tipo transaccional que se ofrecen en línea en la Administración Pública Estatal (INEGI)'>Porcentaje de trámites y servicios públicos del tipo transaccional que se ofrecen en línea en la Administración Pública Estatal (INEGI)</option>
         <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población en condición de pobreza</option>
         <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por acceso a los servicios de salud</option>
         <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por rezago educativo</option>
         <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Porcentaje de población con carencia por calidad y espacios de la vivienda</option>
         <option value='Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)'>Proporción de Nuevos Kilómetros de infraestructura carretera (estatal, federal, municipal) (INEGI/SCT)</option>
         <option value='Proporción de alumnos en el nivel insuficiente  de competencias matemáticas y de comprensión lectora para sexto  grado de primaria y tercer año de secundaria'>Proporción de alumnos en el nivel insuficiente  de competencias matemáticas y de comprensión lectora para sexto  grado de primaria y tercer año de secundaria</option>
         <option value='Tasa de informalidad laboral'>Tasa de informalidad laboral</option>
         <option value='Tasa de personas de 18 años y más que considera inseguro su municipio '>Tasa de personas de 18 años y más que considera inseguro su municipio </option>
         <option  value='Tasa de prevalencia delictiva'>Tasa de prevalencia delictiva</option>
         <option  value='Tasa de crecimiento anual del PIB per cápita (INEGI)'>Tasa de crecimiento anual del PIB per cápita (INEGI)</option>
         <option  value='Porcentaje de hogares con conectividad a internet (INEGI)'>Porcentaje de hogares con conectividad a internet (INEGI)</option>
         <option  value='Porcentaje de Usuarios con acceso a internet en el Estado de Hidalgo (INEGI)'>Porcentaje de Usuarios con acceso a internet en el Estado de Hidalgo (INEGI)</option>
         <option  value='Unidades Económicas del Sector Privado y Paraestatal que efectuaron actividades de innovación en el Estado de Hidalgo (INEGI)'>Unidades Económicas del Sector Privado y Paraestatal que efectuaron actividades de innovación en el Estado de Hidalgo (INEGI)</option>
         <option value='Volumen tratado de aguas residuales'>Volumen tratado de aguas residuales</option>
         <option value='Superficie de áreas naturales con acciones de conservación y/o aprovechamiento de competencia federal, estatal y municipal (INEGI)'>Superficie de áreas naturales con acciones de conservación y/o aprovechamiento de competencia federal, estatal y municipal (INEGI)</option>
         <option value='Porcentaje de Residuos Sólidos Urbanos (RSU) y de Manejo Especial (RME) con manejo adecuado (INEGI)'>* Porcentaje de Residuos Sólidos Urbanos (RSU) y de Manejo Especial (RME) con manejo adecuado (INEGI)</option>
     </select>
    </label>
</p>
<p id="nuevoindicador">
    <input placeholder="Nombre del indicador" class="input-lg" name="indicador2" type="text" >
    <br>
    <textarea class="input-lg" name="justificacion_indicador" placeholder="¿en qué consiste tu indicador?"></textarea>
</p>
<p>
    <label>
      Nuevo indicador
      <input id="nindicador" type="checkbox">
    </label>
</p>
<p>
    <label>
      <h3>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Municipio</h3>
      ¿A que municipio pertenece el proyecto?
      <select name="municipio" required class="form-control">
        <option value=""></option>
        <option value="Acatlán">Acatlán</option>
        <option value="Acaxochitlán">Acaxochitlán</option>
        <option value="Actopan">Actopan</option>
        <option value="Agua Blanca de Iturbide">Agua Blanca de Iturbide</option>
        <option value="Ajacuba">Ajacuba</option>
        <option value="Alfajayucan">Alfajayucan</option>
        <option value="Almoloya">Almoloya</option>
        <option value="Apan">Apan</option>
        <option value="Atitalaquia">Atitalaquia</option>
        <option value="Atlapexco">Atlapexco</option>
        <option value="Atotonilco de Tula">Atotonilco de Tula</option>
        <option value="Atotonilco el Grande">Atotonilco el Grande</option>
        <option value="Calnali">Calnali</option>
        <option value="Cardonal">Cardonal</option>
        <option value="Chapantongo">Chapantongo</option>
        <option value="Chapulhuacán">Chapulhuacán</option>
        <option value="Chilcuautla">Chilcuautla</option>
        <option value="Cuautepec de Hinojosa">Cuautepec de Hinojosa</option>
        <option value="El Arenal">El Arenal</option>
        <option value="Eloxochitlán">Eloxochitlán</option>
        <option value="Emiliano Zapata">Emiliano Zapata</option>
        <option value="Epazoyucan">Epazoyucan</option>
        <option value="Francisco I. Madero">Francisco I. Madero</option>
        <option value="Huasca de Ocampo">Huasca de Ocampo</option>
        <option value="Huautla">Huautla</option>
        <option value="Huazalingo">Huazalingo</option>
        <option value="Huehuetla">Huehuetla</option>
        <option value="Huejutla de Reyes">Huejutla de Reyes</option>
        <option value="Huichapan">Huichapan</option>
        <option value="Ixmiquilpan">Ixmiquilpan</option>
        <option value="Jacala de Ledezma">Jacala de Ledezma</option>
        <option value="Jaltocán">Jaltocán</option>
        <option value="Juárez Hidalgo">Juárez Hidalgo</option>
        <option value="La Misión">La Misión</option>
        <option value="Lolotla">Lolotla</option>
        <option value="Metepec">Metepec</option>
        <option value="Metztitlán">Metztitlán</option>
        <option value="Mineral de la Reforma">Mineral de la Reforma</option>
        <option value="Mineral del Chico">Mineral del Chico</option>
        <option value="Mineral del Monte">Mineral del Monte</option>
        <option value="Mixquiahuala de Juárez">Mixquiahuala de Juárez</option>
        <option value="Molango de Escamilla">Molango de Escamilla</option>
        <option value="Nicolás Flores">Nicolás Flores</option>
        <option value="Nopala de Villagrán">Nopala de Villagrán</option>
        <option value="Omitlán de Juárez">Omitlán de Juárez</option>
        <option value="Pachuca de Soto">Pachuca de Soto</option>
        <option value="Pacula">Pacula</option>
        <option value="Pisaflores">Pisaflores</option>
        <option value="Progreso de Obregón">Progreso de Obregón</option>
        <option value="San Agustín Metzquititlán">San Agustín Metzquititlán</option>
        <option value="San Agustín Tlaxiaca">San Agustín Tlaxiaca</option>
        <option value="San Bartolo Tutotepec">San Bartolo Tutotepec</option>
        <option value="San Felipe Orizatlán">San Felipe Orizatlán</option>
        <option value="San Salvador">San Salvador</option>
        <option value="Santiago de Anaya">Santiago de Anaya</option>
        <option value="Santiago Tulantepec de Lugo Guerrero">Santiago Tulantepec de Lugo Guerrero</option>
        <option value="Singuilucan">Singuilucan</option>
        <option value="Tasquillo">Tasquillo</option>
        <option value="Tecozautla">Tecozautla</option>
        <option value="Tenango de Doria">Tenango de Doria</option>
        <option value="Tepeapulco">Tepeapulco</option>
        <option value="Tepehuacán de Guerrero">Tepehuacán de Guerrero</option>
        <option value="Tepeji del Río de Ocampo">Tepeji del Río de Ocampo</option>
        <option value="Tepetitlán">Tepetitlán</option>
        <option value="Tetepango">Tetepango</option>
        <option value="Tezontepec de Aldama">Tezontepec de Aldama</option>
        <option value="Tianguistengo">Tianguistengo</option>
        <option value="Tizayuca">Tizayuca</option>
        <option value="Tlahuelilpan">Tlahuelilpan</option>
        <option value="Tlahuiltepa">Tlahuiltepa</option>
        <option value="Tlanalapa">Tlanalapa</option>
        <option value="Tlanchinol">Tlanchinol</option>
        <option value="Tlaxcoapan">Tlaxcoapan</option>
        <option value="Tolcayuca">Tolcayuca</option>
        <option value="Tula de Allende">Tula de Allende</option>
        <option value="Tulancingo de Bravo">Tulancingo de Bravo</option>
        <option value="Villa de Tezontepec">Villa de Tezontepec</option>
        <option value="Xochiatipan">Xochiatipan</option>
        <option value="Xochicoatlán">Xochicoatlán</option>
        <option value="Yahualica">Yahualica</option>
        <option value="Zacualtipán de Ángeles">Zacualtipán de Ángeles</option>
        <option value="Zapotlán de Juárez">Zapotlán de Juárez</option>
        <option value="Zempoala">Zempoala</option>
        <option value="Zimapán">Zimapán</option>
    </select>
    </label>
</p>
<p>
  <label>
    <h3>
      <i class="fa fa-user-plus" aria-hidden="true"></i>

      Nombre del autor</h3>
    ¿Cual es el nombre completo del autor del proyecto?
    <input name="autor_name" type="text" class="form-control">
  </label>
</p>
<p>
  <label>
    <h3>
      <i class="fa fa-mobile" aria-hidden="true"></i>
      Teléfono del autor</h3>
    ¿Cual es el teléfono del autor del proyecto?
    <input name="autor_tel" type="text" class="form-control">
  </label>
</p>
<p>
  <label>
    <h3>
     <i class="fa fa-envelope" aria-hidden="true"></i>
      Email del autor</h3>
    ¿Cual es el correo electrónico del autor del proyecto?
    <input name="autor_correo" type="text" class="form-control">
  </label>
</p>
<p>
  <label>
    <h3>
     <i class="fa fa-info-circle" aria-hidden="true"></i>
     Mostrar el nombre del autor en el sitio web
      </h3>
    ¿El autor autoriza mostrar su nombre en el proyecto?
    <select name="agree" class="form-control">
      <option value="True">Si</option>
      <option value="False">No</option>
    </select>
  </label>
</p>

<p>
  <label>
    <h3>
     <i class="fa fa-check-square-o" aria-hidden="true"></i>
     Conclusiones
      </h3>
    ¿Cuales son tus conclusiones?
    <textarea class="form-control" name="conclusiones"></textarea>
  </label>
</p>
<!--   </div>

  <div class="col-sm-6"> -->





<br><br>
    {{form.as_p}}



  </div> <!-- col -->


	</div>

</form>
</article>
{%endif%}







</section>

{%endblock content%}

{%block bliss%}
<script>
$('#nuevoeje').hide();
$('#neje').change(function(){
  console.log('testing');
  if (this.checked){
    $('#eje').hide();
    $('#nuevoeje').show('slow');
  }else{
    $('#eje').show('slow');
    $('#nuevoeje').hide();
    $('#nuevoeje').val($('#eje').val())
  }
});

// Pal indicador
$('#nuevoindicador').hide();
$('#nindicador').change(function(){
  if (this.checked){
    $('#indicador').hide();
    $('#nuevoindicador').show('slow');
    $('#nuevoindicador').val($('#indicador').val())
  }else{
    $('#indicador').show('slow');
    $('#nuevoindicador').hide();
  }
});
  

$('#save').on('click',function(){

  $('form').submit();
});
$('#publish').on('click',function(){
  $('form').append('<input type="hidden" name="publicar" value="1"/>');
  $('form').submit();
});


</script>

{%endblock bliss%}



