{%extends 'base2.html'%}
{%load static%}
{%block titulo%}Captura de proyectos{%endblock titulo%}


{%block content%}

<section class="container">

<div style="" class="row well">

   
<h2>Listado de proyectos</h2>

</div>

<div class="list-group">
    {%for p in projects%}
    <a href="{%url 'captura:editar' id=p.id%}" class="list-group-item list-group-item-success">
      {{p.title}} - {{p.uid}}
    </a>
  {%empty%}
  {%endfor%}
  
  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
</div>





</section>

{%endblock content%}



