{%extends 'base.html'%}
{%load static%}
{%block titulo%}Lista de proyectos{%endblock titulo%}


{%block content%}

<section class="container">

<div style="" class="row well">

   
  <h2>Todos los proyectos</h2>

  <div class="col-xs-12">
    <button class="btn btn-success" type="button">
      Proyectos Publicados: <span class="badge">{{published}}</span>
    </button>
    <button class="btn btn-warning" type="button">
      Proyectos Incompletos: <span class="badge">{{incomplete}}</span>
    </button>
    <button class="btn btn-primary" type="button">
      Proyectos Totales: <span class="badge">{{totalp}}</span>
    </button>
  </div>
  <!-- <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">
      <i class="fa fa-search" aria-hidden="true"></i>
  </span>
  <input type="text" class="form-control" placeholder="Buscar" aria-describedby="basic-addon1">
  </div> -->

  <form style="display:none" action="." method="post">
    {%csrf_token%}
    <input type="submit" value="Match">
  </form>

</div>

<div class="list-group">
    {%for p in projects%}

    {%if p.cerrado%}
    <a href="{%url 'captura:editar' id=p.id%}" class="list-group-item list-group-item-success">
    {%else%}
    <a href="{%url 'captura:editar' id=p.id%}" class="list-group-item list-group-item-warning">
      {%endif%}




      {{p.title}} - {{p.user}} - {{p.fecha}}
    </a>
  {%empty%}
  <h2>No hay proyectos U_U</h2>
  {%endfor%}

</div>





</section>

{%endblock content%}



